# Node modules
node_modules/

# Firebase keys y configuraciones sensibles
backend/firebase/clave.json
backend/firebase/serviceAccountKey.json
.firebase/
firebase-debug.log

# Compilados o temporales
dist/
build/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Entornos virtuales (Python)
venv/
__pycache__/

# Archivos de entorno
.env
*.env

